<template>
  <div class="artist-single">
    <section class="artist-content">
      <div class="container">
        <div class="artist-images columns is-multiline has-text-centered">
          <div v-for="image in artist.images" :key="image.id" class="column is-one-third">
            <img :src="image" alt="">
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  name: 'ArtistSingle',
  data () {
    return {
      artist: {},
      artists: [
        {
          id: 1,
          images: [
            'https://upload.wikimedia.org/wikipedia/fa/thumb/1/1d/%D9%85%D8%A7%DA%AF%D8%B1%DB%8C%D8%AA_-_%D9%BE%D8%B3%D8%B1%DB%8C_%D8%A7%D8%B2_%D8%A7%D9%86%D8%B3%D8%A7%D9%86.jpg/300px-%D9%85%D8%A7%DA%AF%D8%B1%DB%8C%D8%AA_-_%D9%BE%D8%B3%D8%B1%DB%8C_%D8%A7%D8%B2_%D8%A7%D9%86%D8%B3%D8%A7%D9%86.jpg',
            'https://upload.wikimedia.org/wikipedia/en/thumb/6/62/Portrait_of_Edward_James.jpg/200px-Portrait_of_Edward_James.jpg',
            'https://upload.wikimedia.org/wikipedia/en/a/ab/Magritte%2C_The_Palace_of_Memories%2C_Le_palais_des_souvenirs%2C_1939.jpg',
          ]
        },
        {
          id: 2,
          images: [
            'https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/VanGogh-starry_night_ballance1.jpg/751px-VanGogh-starry_night_ballance1.jpg',
            'https://seemorgh.com/images/images_old/30849.jpg',
            'https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Vincent_Willem_van_Gogh_037.jpg/471px-Vincent_Willem_van_Gogh_037.jpg'
          ]
        }
      ]
    }  
  },
  created() {
    const ID = Number(this.$route.params.id);
    let artist = this.artists.find(artist => artist.id === ID);
    this.artist = artist;
  }
}
</script>

<style lang="scss" scoped>
  .artist-single {
    margin-top: 30px;
  }
  .artist-images {
    margin-top: 50px;
  }
</style>