<template>
  <div class="artist-card">
    <div class="card" :style="{'background-image': 'url(' + artist.background + ')'}">
      <div class="card-content">
        <small class="artist-date">{{ artist.date }}</small>
        <span>{{ artist.name }}</span>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
      props: ['artist']
  }
</script>

<style lang="scss" scoped>
  .card {
    height: 200px;
    background-position: center;
    background-size: cover;
    text-align: center;
  }
  .card-content {
    padding-top: 50px;
    position: absolute;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.35);
    top: 0;
    padding: 10px;
    height: 200px;
    width: 100%;
    span {
      font-size: 18px;
      text-align: center;
      width: 100%;
      position: absolute;
      bottom: 10px;
      right: 0;
    }
  }
  .artist-date {
    background-color: #151515;
    color: #FFF;
    font-size: .75em;
    padding: 2px 10px;
    position: absolute;
    top: 0;
    right: 0;
  }
</style>