<template>
  <div class="artists container">
    <h2 class="subtitle is-3">Artists</h2>
    <div class="columns is-multiline">
      <div v-for="artist in artists" :artist="artist" :key="artist.id" class="column is-one-quarter">
          <router-link :to="'/artist/' + artist.id">
            <ArtistCard :artist="artist" />
          </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import ArtistCard from '../components/ArtistCard';
export default {
  name: 'ArtistList',
  components : {
    ArtistCard
  },
  data () {
    return {
      artist: {},
      artists: [
        {
          id: 1,
          name: 'René Magritte',
          background: 'https://upload.wikimedia.org/wikipedia/en/thumb/9/92/Wolleh_magritte.jpg/220px-Wolleh_magritte.jpg',
          date: '21 November 1898'
        },
        {
          id: 2,
          name: 'Vincent Willem van Gogh',
          background: 'https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Vincent_van_Gogh_-_Self-Portrait_-_Google_Art_Project_%28454045%29.jpg/220px-Vincent_van_Gogh_-_Self-Portrait_-_Google_Art_Project_%28454045%29.jpg',
          date: '30 March 1853'
        }
      ]
    }  
  }
}
</script>

<style lang="scss" scoped>
  .artists {
    margin-top: 100px;
    text-align: center;
  }
</style>